{% extends 'base.html.twig' %}

{% block content %}
    <div class="article-box">
        <div>{{ article.createdAt |date }}</div>
        <div>{{ article.title }}</div>
        <div><img src="{{ article.picture }}"></div>
        <div>{{ article.content }}</div>
    </div>

    {% for comment in comments %}
        <div style="margin: 5px">
            {{ comment.name }} ({{ comment.createdAt |date }}): {{ comment.message}}
            {% if session.user %}<a data-id="{{ comment.id }}" class="remove-comment">X</a>{% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
<script>
    const comments = document.getElementsByClassName("remove-comment");
    for (let i = 0; i < comments.length; i++) {
    comments.item(i).addEventListener('click', function(e) {

        e.preventDefault();

        if (confirm('Are you sure about removing the comment')) {
            //TODO: ajax call to remove comment
            let xhr = new XMLHttpRequest()

            xhr.open('DELETE', 'comment/' + this.getAttribute('data-id'), true)
            xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
            xhr.send();

            xhr.onload = function () {
                if(xhr.status === 200) {
                    alert("Comment successfully deleted!")
                }
            }
        }
    });
}
</script>
{% endblock %}